p{
            color:#ac8e3b;
            font-size:30px;
        }
        img{
            border: 7px solid #b0e0e6;
        }

        /* * {
    border: solid;
} */

body{
    background-color:#f5f5f5;
    padding: 20px;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

p,h2{
    text-align: center;
}

.header{
    background-color: #5f9ea0;
    display: flex;
    justify-content: space-between;
}
.body_img{
    color:#5f9ea0;
}

.menu{
    display: flex;
    justify-content:last baseline;
    font-family: sans-serif;
    font-size: 30px;
    color:#a52a2a;
    background-color: #ffffff;
    font-weight: 200;

}

.grid img{
border: 10px solid #CC6666;
border-radius: 80px;
}

.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.origami{
border-radius: 50px;
background-color:#f08080;
width: 400px;
margin: 20px;
padding: 7px;
font-weight: 400;
font-family:Arial, Helvetica, sans-serif;
}